<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regresion - Test Suite">
    <listeners>
        <listener class-name="org.codechallenge.tests.Listeners"/>
    </listeners>

    <test name="TC001_Add_Item_To_Shopping_Cart">
        <classes>
            <class name="org.codechallenge.tests.TC001_Add_Item_To_Shopping_Cart">
            </class>
        </classes>
    </test>
    <test name="TC002_Delete_From_Item_Shopping_Cart">
        <classes>
            <class name="org.codechallenge.tests.TC002_Delete_From_Item_Shopping_Cart">
            </class>
        </classes>
    </test>
    <test name="TC003_Search_Store_Item">
        <classes>
            <class name="org.codechallenge.tests.TC003_Search_Store_Item">
            </class>
        </classes>
    </test>
    <test name="TC004_Validate_Store_Information">
        <classes>
            <class name="org.codechallenge.tests.TC004_Validate_Store_Information">
            </class>
        </classes>
    </test>

</suite>