<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regresion - Test Suite">
    <listeners>
        <listener class-name="org.codechallenge.tests.Listeners"/>
    </listeners>

    <test name="TC001_AddWomenItemShoppingCartSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC001_AddWomenItemShoppingCartSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC002_AddDressesItemShoppingCartSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC002_AddDressesItemShoppingCartSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC003_DeleteFromItemShoppingCartInsideSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC003_DeleteFromItemShoppingCartInsideSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC004_DeleteFromItemShoppingCartOutsideSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC004_DeleteFromItemShoppingCartOutsideSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC005_SearchCorrectItemEnterPressSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC005_SearchCorrectItemEnterPressSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC006_SearchCorrectItemSubmitButtonSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC006_SearchCorrectItemSubmitButtonSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC007_SearchIncorrectItemSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC007_SearchIncorrectItemSuccessfully">
            </class>
        </classes>
    </test>
    <test name="TC008_ValidateStoreInformationSuccessfully">
        <classes>
            <class name="org.codechallenge.tests.TC008_ValidateStoreInformationSuccessfully">
            </class>
        </classes>
    </test>
</suite>